# environment
venv/
.env

# terraform
.terraform
*.tfvars
*.tfstate
*.lock.hcl
*tfstate.backup

# Extracted JSON files - ignored due to large capacity.
# Note that we exclude 20*.json, as every extracted file will have
# the format YYYY-MM-DD.json. mock.json is needed for testing extract.py.
20*.json

# testing
.pytest_cache
__pycache__
/coverage
.coverage