# environment
venv/
.env

# terraform
.terraform
*.tfvars
*.tfstate
*.lock.hcl
*tfstate.backup

# diagrams - to be implemented into README.md
/diagrams

# JSON files - ignored due to large capacity
.json

# testing
.pytest_cache
__pycache__
/coverage
.coverage